@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}


.noscroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noscroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@font-face {
  font-family: font1;
  src: url("./assets/65fc1fde7df04a64b3adebba_RobochyiSansOF-Medium.ttf");
}
@font-face {
  font-family: font2;
  src: url("./assets/65fc1fdedf245a9c01c8958b_RobochyiSansOF-Semi.ttf");
}
@font-face {
  font-family: font3;
  src: url("./assets/i7dOIFdwYjGaAMFtZd_QA1ZbYFc.ttf");
}
@font-face {
  font-family: font4;
  src: url("./assets/Roboto-Regular.ttf");
}
@font-face {
  font-family: font5;
  src: url("./assets/Inter.ttc");
}
@font-face {
  font-family: font6;
  src: url("./assets/i7dMIFZifjKcF5UAWdDRaPpZUFWaHg.ttf");
}
@font-face {
  font-family: font7;
  src: url("./assets/i7dPIFZifjKcF5UAWdDRYEF8RQ.ttf");
}

.f1{
  font-family: font1;
}

.f2{
  font-family: font2;
}
.f3{
  font-family: font3;
}
.f4{
  font-family: font4;
}

.f5{
  font-family: font5;
}

.f6{
  font-family: font6;
}
.f6{
  font-family: font7;
}

.gradient-animation {
  background: linear-gradient(to right, purple 0%, pink 50%, purple 100%);
  background-size: 200% 200%;
  transition: background 0.3s ease-in-out;
}

.gradient-animation:hover {
  animation: gradientMove 3s infinite linear;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}